asgiref @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_edg6nzjrx0/croots/recipe/asgiref_1661287549316/work
beautifulsoup4==4.11.1
bootstrap4==0.1.0
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ek9yztvu3/croot/certifi_1665076692562/work/certifi
Django @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_066uop7vqa/croots/recipe/django_1661292540858/work
django-bootstrap-v5==1.0.11
django-bootstrap3==22.2
django-bootstrap4==22.3
django-crispy-forms==1.14.0
django-taggit==3.1.0
djangorestframework==3.14.0
Pillow==9.3.0
pytz==2020.1
soupsieve==2.3.2.post1
sqlparse==0.4.1
